# Cloudflare API
CF_API_TOKEN=
CF_ACCOUNT_ID=

# Zones
CF_ZONE_ID_YIRRA=    # yirrasystems.com zone id
CF_ZONE_ID_ADDIAIRE= # addiaire.com zone id

# Tunnel
TUNNEL_FQDN=example.cfargotunnel.com

























