apiVersion: v1
kind: Secret
metadata:
  name: restic-env
  namespace: email-system
type: Opaque
stringData:
  RESTIC_REPOSITORY: "s3:https://minio.gaudy.com.au/mail-backups"
  RESTIC_PASSWORD: "<strong-password>"
  AWS_ACCESS_KEY_ID: "<minio-access>"
  AWS_SECRET_ACCESS_KEY: "<minio-secret>"
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: vmail-backup
  namespace: email-system
spec:
  schedule: "0 3 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: restic
              image: restic/restic:0.16
              envFrom: [{ secretRef: { name: restic-env } }]
              volumeMounts:
                - { name: vmail, mountPath: /data }
              args: ["backup","/data"]
          volumes:
            - name: vmail
              persistentVolumeClaim: { claimName: vmail-pvc }
