apiVersion: v1
kind: ConfigMap
metadata:
  name: postfix-main
  namespace: email-system
data:
  main.cf: |
    myhostname = mail.gaudy.com.au
    mydomain = gaudy.com.au
    myorigin = $mydomain
    inet_interfaces = all
    inet_protocols = all
    mydestination = localhost, gaudy.com.au
    relayhost =
    message_size_limit = 52428800
    smtputf8_enable = yes

    # TLS
    smtpd_tls_cert_file = /tls/tls.crt
    smtpd_tls_key_file  = /tls/tls.key
    smtpd_tls_dh1024_param_file = /etc/ssl/dhparams.pem
    smtpd_tls_security_level = may
    smtp_tls_security_level  = may
    smtpd_tls_mandatory_protocols = !SSLv2,!SSLv3,!TLSv1,!TLSv1.1
    smtpd_tls_protocols = !SSLv2,!SSLv3
    smtpd_tls_loglevel = 1
    smtpd_tls_auth_only = no
    smtpd_tls_received_header = yes
    smtp_tls_loglevel = 1

    smtpd_client_restrictions =
    smtpd_delay_open_until_valid_rcpt = no
    virtual_mailbox_domains = gaudy.com.au
    smtpd_recipient_restrictions =
        permit_mynetworks,
        permit_sasl_authenticated,
        reject_unauth_destination
    smtpd_relay_restrictions =
        permit_mynetworks,
        permit_sasl_authenticated,
        defer_unauth_destination
    mynetworks = 127.0.0.0/8 [::1]/128

    # Local delivery
    home_mailbox = Maildir/

    # Rspamd milter (spam/virus, DKIM/ARC signing)
    milter_default_action = accept
    milter_protocol = 6
    smtpd_milters = inet:rspamd.email-system.svc.cluster.local:11333
    non_smtpd_milters = $smtpd_milters


    # Force disable postscreen completely
    postscreen_dnsbl_sites =
    postscreen_dnsbl_threshold = 0
    postscreen_greet_action = ignore
    postscreen_dnsbl_action = ignore

  master.cf: |
    smtp      inet  n       -       n       -       -       smtpd
      -o smtpd_client_restrictions=
      -o smtpd_helo_restrictions=
      -o smtpd_sender_restrictions=
      -o smtpd_recipient_restrictions=permit
      -o smtpd_tls_security_level=may
    # smtpd     pass  -       -       n       -       -       smtpd
    # dnsblog   unix  -       -       n       -       0       dnsblog
    # tlsproxy  unix  -       -       n       -       0       tlsproxy
    smtps     inet  n       -       n       -       -       smtpd
      -o smtpd_tls_wrappermode=yes
      -o smtpd_sasl_auth_enable=yes
    submission inet n       -       n       -       -       smtpd
      -o smtpd_client_restrictions=permit_sasl_authenticated,reject
      -o smtpd_sasl_auth_enable=yes
      -o smtpd_recipient_restrictions=permit_sasl_authenticated,reject
      -o milter_macro_daemon_name=ORIGINATING

    cleanup   unix  n       -       n       -       0       cleanup
    qmgr      unix  n       -       n       300     1       qmgr
    pickup    unix  n       -       n       60      1       pickup
    relay     unix  -       -       n       -       -       smtp
    lmtp      unix  -       -       n       -       -       lmtp
    anvil     unix  -       -       n       -       -       anvil
    scache    unix  -       -       n       -       -       scache
