apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vmail-pvc
  namespace: email-system
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 50Gi
